header {
  background-color: #a6d9ee;
  text-align: left;
  display: flex;
  
  align-items: center;


}

h3 {
  color: #342739;
  margin-left: 40px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #342739;
  text-align: center;
}

.opciones button {
  display: inline-block;
  margin: 40px;
  padding: 15px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #0d74b6;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.opciones button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #0d74b6;
  text-align: center;
}

.linea-footer-inferior {
  height: 40px;
  background-color: #342739;
  border: none;
  margin-top: 100px;

}

.linea-footer-superior {
  height: 16px;
  background-color: #a6d9ee;
  border: none;
  

}

h4 {
  color: #ffffff;
}

.pvolver a {
  color: #342739;
  text-decoration: none;
}

.pvolver {
  text-align: right;
  margin-right: 40px;
}