header {
  display: flex;
  flex-direction: column;
  background-color: #f6f8f4;

}

h1 {
  font-size: 150%;
  margin-bottom: 40px;
  color: #342739;
  text-align: center;
  font-family: Arial, sans-serif
}

h3 {
  color: #342739;
  margin-left: 40px;
  font-family: Arial, sans-serif
}

h4 {
  color: #ffffff;
  font-family: Arial, sans-serif
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.opciones button {
  display: inline-block;
  margin: 40px;
  padding: 15px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #99968f;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.opciones button:hover {
  background-color: #636160;
}

.linea-footer-superior {
  height: 16px;
  background-color: #dedfdc;
  border: none;
  margin-top: 00px;
  margin-bottom: 100px;
}

footer {
  background-color: #99968f;
  text-align: center;
}

.linea-footer-inferior {
  height: 40px;
  background-color: #636160;
  border: none;
  margin-top: 100px;
  margin-bottom: 0px;
}

