header {
    display: flex;
    flex-direction: column;
    background-color: #f6f8f4;

}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #f6f8f4;
}

.logo {
    width: 100px;
    height: auto;
}

.titulo {
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    margin: 0 20px;
}

.home-icon {
    font-size: 1.8em;
    color: #99968f;
    text-decoration: none;
}

.home-icon:hover {
    color: #636160;
}

.navbar {
    background-color: #99968f;
    width: 100%;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.navbar li {
    margin: 0 40px;
}

.navbar li a:hover {
    background-color: #636160;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 1px 2fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
    /*border: 2px solid #ccc;*/

}
.grilla-izquierda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-incubadora {
    width: 50%;
    height: auto;
}
.separador {
    background-color: #ccc;
    width: 2px;
    height: 100%;
}

.contenido {
    font-size: 1em;
    line-height: 1.5;
}